%footer.bg-near-white.f5.mid-gray
  .pa4.mw9-ns.center
    %ul.list.ma0.pa0
      %li.mv3.dib.mr3= link_to "Source Code", "https://github.com/aergonaut/wintergreen", class: "link black-70 b dim"
      %li.mv3.dib.mr3= link_to "FAQ", "https://github.com/aergonaut/wintergreen", class: "link black-70 b dim"
      %li.mv3.dib.mr3= link_to "Terms", "https://github.com/aergonaut/wintergreen", class: "link black-70 b dim"
      %li.mv3.dib.mr3= link_to "Privacy", "https://github.com/aergonaut/wintergreen", class: "link black-70 b dim"
      %li.mv3.dib.mr0= link_to "Security", "https://github.com/aergonaut/wintergreen", class: "link black-70 b dim"

    %p.measure
      Wintergreen is &copy; 2016 by Chris Fung. It is open source software and distributed under the terms specified in the
      = link_to "License", "https://github.com/aerognaut/wintergreen/blob/master/LICENSE", class: "link purple ttu"

    %p.measure
      Wintergreen is made with 💖 in Mountain View, CA
