!!!
%html
  %head
    %title Wintergreen
    = csrf_meta_tags

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Mono', media: 'all'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "shared/nav"
    = yield
    = render partial: "shared/footer"
